<% provide(:friend_first_name, 'New Friend') %>

<h1>Add New Friend</h1>

<%#= render "form", friend: @friend %>

<%= @user.inspect %>
<br>

<div>
  <%= link_to "Back to Users", users_path, class:"btn btn-dark" %>
</div>

